* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
  "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
  "Fira Mono", "Droid Sans Mono", "Courier New", monospace;;
  max-width: 100vw;
  min-height: 100svh;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
